/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}

.dark-mode,
.dark-mode p,
.dark-mode li,
.dark-mode h2,
.dark-mode a,
.dark-mode a:hover {
  background-color: rgb(37, 37, 37);
  color: white !important;
}

.dark-mode .btn {
  color: white !important;
  border: white 0.1rem solid;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

li {
  color: rgb(85, 85, 85);
}

main {
  margin: 0 0px;
  display: flex;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(179, 54, 102);
}

.textlink {
  font-weight: 500;
  color: rgb(179, 54, 102);
}

.textlink:hover {
  color: black;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other elements */
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.dark-mode .hamburger-icon span {
  background-color: white;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  margin-left: 4vh;
  margin-right: 8vh;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  padding-top: 4vh;
  margin: 0 1rem;
  box-sizing: border-box;
  min-height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4vh;
}

.profile-img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.scrollable {
  margin-left: 25%;
  margin-right: 0;
  overflow-y: auto;
  height: 100vh;
  padding: 4vh 0rem;
  box-sizing: border-box;
  position: relative;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p,
li {
  font-weight: 400;
}

.section__text__p1 {
  font-size: 20px;
}

.section__text__p2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.expicon {
  width: 70px;
  height: auto;
}

/* EXPERIENCE */

.exp-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 1rem;
}

.experience-sub-title {
  margin-bottom: 1rem;
  font-size: 20px;
  color: rgb(85, 85, 85);
}

/* BUTTONS */

.btn-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(179, 54, 102);
  color: white;
}

.btn-color-1:hover {
  background: rgb(179, 54, 102);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* CONTACT */

.contact-info-upper-container {
  display: flex;
  justify-content: center;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(179, 54, 102);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(179, 54, 102);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
